/*
 ##########################################################
 START DO NOT CHANGE ZONE
 ##########################################################
*/

html {
  box-sizing: border-box;

  color: #222;
  font: normal 100%/1.5 Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 45em;
}

header {
  padding: 1.5rem 0;

  background-color: #333;

  color: #f2f2f2;
}

h1 {
  margin: 0;

  font-size: 1.5rem;
}

.chapter-num {
  display: block;

  font-size: 1rem;
  font-style: italic;
}

.colon {
  display: none;
}

main {
  padding: 1.5rem 0;
}

p {
  margin: 0;

  text-indent: 1.3em;
}

p:first-child {
  text-indent: 0;
}

main > p:first-child::first-line {
  font-style: italic;
}

footer {
  padding: 1.5rem 0;

  background-color: #333;

  color: #f2f2f2;
}

/*
 ##########################################################
 END DO NOT CHANGE ZONE
 ##########################################################
*/

/* Write your CSS here */

figure {
  width: 300px;
  float: right;
  clear: left;
  padding-left: 6px;
  padding-top: .4em;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #333;
  border-bottom-color: #333;
  border-width: 3px;
  margin: 0;
  margin-right: -300px;
}

figcaption {
  float: right;
  font-style: italic;
  font-size: .875rem;
}

p:first-child::first-letter {
  font-size: 5rem;
  font-style: normal;
  background-color: #666;
  color: #f2f2f2;
  float: left;
  clear: both;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #333;
  border-bottom-color: #333;
  margin-right: 5px;
  padding-top: .2em;
  padding-bottom: .2em;
  padding-left: .2em;
  padding-right: .2em;
  border-width: 3px;
  width: auto;
  position: relative;
  margin-left: -42px;
}

blockquote {
  float: left;
  font-size: 1.5rem;
  border-top-style: solid;
  border-bottom-style: solid;
  color: #666;
  border-color: #333;
  width: 300px;
}

blockquote p:first-child::first-letter {
  font-size: 1.5rem;
  background-color: #fff;
  color: #666;
  border-style: none;
  float: none;
  margin: 0;
  padding: 0;
  border: none;
}
